version: "3.3"

services: 
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    volumes: 
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    volumes: 
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  db_data: